<nav class="navbar navbar-expand-md navbar-dark bg-primary navbar-default">
  <a class="navbar-brand" href="#">Ideators</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="authService.loggedIn()" class="nav-item active" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
          <a class="nav-link" [routerLink]="['/']">Home</a>
      </li>
      <li *ngIf="!authService.loggedIn()" class="nav-item active" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
        <a class="nav-link" [routerLink]="['/dashboard']">Home</a>
    </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto my-2 my-sm-0">
            <li *ngIf="!authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']"  [routerLinkActiveOptions] = "{exact:true}">
                        <a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a>
            </li>
            <li *ngIf="!authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']"  [routerLinkActiveOptions] = "{exact:true}">
                    <a class="nav-link" [routerLink]="['/profile']">Profile</a>
            </li>
            <li *ngIf="authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']"  [routerLinkActiveOptions] = "{exact:true}">
                <a class="nav-link" [routerLink]="['/login']">Login</a>
            </li>
            <li *ngIf="authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']"  [routerLinkActiveOptions] = "{exact:true}">
                <a class="nav-link"  [routerLink]="['/register']">Registration</a>
            </li>
            <li *ngIf="!authService.loggedIn()" class="nav-item" >
                <a class="nav-link" (click)="onLogoutClick()" href="#">Logout</a>
            </li>
        </ul>
    </form>
    </div>

</nav>